@font-face {
  font-family: "Gotham";
  src: url("../assets/Gotham\ Medium.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Gotham";
  height: 100vh;
  background-color: #222;
}

.mobil {
  border-radius: 50px;
  border: 8px solid black;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: fixed;
  touch-action: pan-y;
  color: #fff;
  width: 360px;
  height: 680px;
}
.screen {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.notch {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 135px;
  height: 30px;
  background: black;
  border-radius: 15px;
}
.swipe {
  width: 120px;
  height: 6px;
  background: #89898981;
  position: absolute;
  bottom: 7px;
  border-radius: 5px;
  right: 50%;
  transform: translateX(50%);
}
.cont {
  position: absolute;
  top: 50%;
  left: 30px;
}
.cont > button {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid rgb(150, 0, 170);
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
}
.cont > button:hover {
  background: rgb(150, 0, 170);
}
.container {
  width: 100%;
  height: 100%;
  padding-top: 46px;
  background: rgb(232, 232, 232);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.w {
  width: 100%;
  height: 8%;
}
.e {
  width: 100%;
  height: 100%;
  gap: 24px;
  display: flex;
  color: rgb(67, 176, 42);
  align-items: center;
  padding-left: 10px;
}
.close {
  padding-right: 20px;
  font-size: 30px;
}
.logo {
  width: 65%;
  height: 46%;
}
.logo > img {
  width: 100%;
  height: 100%;
}

.cont-burger {
  display: flex;
  width: 20%;
  height: 100%;
  gap: 5px;
  align-items: center;
}
.burger {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.container-sw {
  width: 100%;
  height: 75%;
}
.swiper {
  display: flex;
  height: 100%;
  transition: transform 0.4s ease;
  touch-action: pan-y;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.card {
  width: 90%;
  height: 91%;
  overflow: hidden;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.895);
}
.dots-and-button {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.dots {
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  gap: 10px;
  align-items: center;
}

.dot {
  width: 7px;
  height: 7px;
  background: rgba(67, 176, 42, 0.728);
  border-radius: 50%;
}
.dot.near {
  width: 10px;
  height: 10px;
  background: rgba(60, 158, 38, 0.884);
}
.dot.active {
  width: 9px;
  height: 9px;
  background: rgb(57, 201, 25);
}
.learn {
  width: 50%;
  display: flex;
  justify-content: end;
}
.learn > button {
  width: 55%;

  background: rgb(57, 201, 25);
  color: white;
  border: 0;
  border-radius: 5px;
}
.text {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texts {
  list-style: none;
  position: absolute;
  width: 130%;
  height: 100%;
  display: flex;
  left: -5px;
  align-items: center;
}
.atr-list {
  width: 60%;
  bottom: 0;
  height: 100%;
  left: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  left: -4%;
  position: absolute;
  transform: scale(0.6);
}
.texts > li.active {
  opacity: 1;
  z-index: 1;
}
.cont-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: -10px;
}
.video > video {
  transform: scale(0.93);
  position: absolute;
  height: 100%;
}
.carts {
  width: 100%;
  height: 120%;
  display: flex;
  padding: 0 16px 16px 16px;
  flex-direction: column;
}
.wee {
  border-radius: 15px;
  text-decoration: none;
  overflow: hidden;
  background: rgb(64, 188, 74);
  width: 100%;
  height: 100%;
}
.carts-img {
  width: 100%;
  height: 50%;
}
.carts-img > img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}
.carts-text {
  width: 100%;
  height: 50%;
  display: flex;
  color: white ;
  justify-content: center;
  align-items: center;
}
.carts-text > p {
  width: 80%;
  text-align: center;
  font-size: 20px;
}
.carts-img > img {
  width: 100%;
  height: 100%;
}
.play-carts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.play-video {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: -22px;
}
.play-video > video {
  height: 100%;
  transform: scale(0.834);
  position: absolute;
}
.bg {
  width: 100%;
  height: 50%;
  position: relative;
  top: -5%;
  display: flex;
  justify-content: center;
}
.bg > img {
  width: 40%;
  height: 100%;
}
.small-bussines {
  width: 100%;
  height: 100%;
}
.picture {
  width: 100%;
  height: 50%;
}
.picture > img {
  width: 100%;
  height: 100%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}
.t-small {
  width: 100%;
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.t-small > h1 {
  color: rgb(57, 201, 25);
  font-size: 27px;
  font-weight: 300;
}
.t-small > p {
  color: #222;
  text-align: start;
  height: 60%;
  padding-top: 30px;
  font-size: 20px;
}
.t-small > a {
  color: rgb(64, 188, 74);
}
.bg-rrr{
  width: 100%;
  height: 100%;
}
.bg-rrr > img {
  width: 100%;
  height: 100%;
  transform: scale(1.05);
}
@media (max-width: 375px) {
  .mobil {
    width: 100%;
    height: 100dvh;
  }
  .notch {
    display: none;
  }
  .swipe {
    display: none;
  }
}
