@font-face {
  font-family: "Gotham";
  src: url("../assets/Gotham\ Medium.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Gotham";
  height: 100vh;
  background-color: #222;
}

.mobil {
  border-radius: 50px;
  border: 8px solid black;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: fixed;
  touch-action: pan-y;
  color: #fff;
  width: 360px;
  height: 680px;
}
.screen {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.notch {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 135px;
  height: 30px;
  background: black;
  border-radius: 15px;
}
.swipe {
  width: 120px;
  height: 6px;
  background: #89898981;
  position: absolute;
  bottom: 7px;
  border-radius: 5px;
  right: 50%;
  transform: translateX(50%);
}
.cont {
  position: absolute;
  top: 50%;
  left: 30px;
}
.cont > button {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid rgb(150, 0, 170);
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
}
.cont > button:hover {
  background: rgb(150, 0, 170);
}
.container {
  width: 100%;
  height: 100%;
  padding-top: 46px;
  background: rgb(232, 232, 232);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.w {
  width: 100%;
  height: 8%;
}
.e {
  width: 100%;
  height: 100%;
  gap: 24px;
  display: flex;
  color: rgb(67, 176, 42);
  align-items: center;
  padding-left: 10px;
}
.close {
  padding-right: 20px;
  font-size: 30px;
}
.logo {
  width: 65%;
  height: 46%;
}
.logo > img {
  width: 100%;
  height: 100%;
}

.cont-burger {
  display: flex;
  width: 20%;
  height: 100%;
  gap: 5px;
  align-items: center;
}
.burger {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.container-sw {
  width: 100%;
  height: 75%;
}
.swiper {
  display: flex;
  height: 100%;
  transition: transform 0.4s ease;
  touch-action: pan-y;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.card {
  width: 90%;
  height: 91%;
  overflow: hidden;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.895);
}
.dots-and-button {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.dots {
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  gap: 10px;
  align-items: center;
}

.dot {
  width: 7px;
  height: 7px;
  background: rgba(67, 176, 42, 0.728);
  border-radius: 50%;
}
.dot.near {
  width: 10px;
  height: 10px;
  background: rgba(60, 158, 38, 0.884);
}
.dot.active {
  width: 9px;
  height: 9px;
  background: rgb(57, 201, 25);
}
.learn {
  width: 50%;
  display: flex;
  justify-content: end;
}
.learn > a {
  width: 70%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(57, 201, 25);
  color: white;
  border: 0;
  border-radius: 5px;
}
.text {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texts {
  list-style: none;
  position: absolute;
  width: 130%;
  height: 100%;
  display: flex;
  left: -5px;
  align-items: center;
}
.atr-list {
  width: 60%;
  bottom: 0;
  height: 100%;
  left: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  left: -4%;
  position: absolute;
  transform: scale(0.6);
}
.texts > li.active {
  opacity: 1;
  z-index: 1;
}
.cont-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: -10px;
}
.video > video {
  transform: scale(0.93);
  position: absolute;
  height: 100%;
}
.vol {
  position: absolute;
  top: 10%;
  z-index: 1;
  left: 5%;
  font-size: 30px;
  &:hover {
    color: black;
  }
}
.vol:nth-child(1) {
  top: 15%;
}
.carts {
  width: 100%;
  height: 120%;
  display: flex;
  padding: 0 16px 16px 16px;
  flex-direction: column;
}
.wee {
  border-radius: 15px;
  text-decoration: none;
  overflow: hidden;
  background: rgb(64, 188, 74);
  width: 100%;
  height: 100%;
}
.carts-img {
  width: 100%;
  height: 50%;
}
.carts-img > img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}
.carts-text {
  width: 100%;
  height: 50%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.carts-text > p {
  width: 80%;
  text-align: center;
  font-size: 20px;
}
.carts-img > img {
  width: 100%;
  height: 100%;
}
.play-carts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.play-video {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: -22px;
}
.play-video > video {
  height: 100%;
  transform: scale(0.834);
  position: absolute;
}
.bg {
  width: 100%;
  height: 50%;
  position: relative;
  top: -5%;
  display: flex;
  justify-content: center;
}
.bg > img {
  width: 40%;
  height: 100%;
}
.small-bussines {
  width: 100%;
  height: 100%;
}
.picture {
  width: 100%;
  height: 50%;
}
.picture > img {
  width: 100%;
  height: 100%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}
.t-small {
  width: 100%;
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.t-small > h1 {
  color: rgb(57, 201, 25);
  font-size: 27px;
  font-weight: 300;
}
.t-small > p {
  color: #222;
  text-align: start;
  height: 60%;
  padding-top: 30px;
  font-size: 20px;
}
.t-small > a {
  color: rgb(64, 188, 74);
}
.bg-rrr {
  width: 100%;
  height: 100%;
}
.bg-rrr > img {
  width: 100%;
  height: 100%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
  transform: scale(1.05);
}
.modal {
  background: rgb(232, 232, 232);
  width: 50%;
  position: absolute;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.895);
}
.logotype {
  width: 100%;
  height: 3%;
  padding: 0 10px;
  color: rgb(57, 201, 25);
  display: flex;
  justify-content: space-between;
}
.cl {
  font-size: 20px;
}
.imgs {
  width: 70%;
  height: 100%;
}
.imgs > img {
  width: 100%;
  height: 100%;
}
.rew {
  color: rgb(57, 201, 25);
}
.links {
  width: 100%;
  height: 80%;
  margin-top: 20px;
  border-top: 1px solid rgb(57, 201, 25);
}
.qw {
  width: 100%;
  height: 36%;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-direction: column;
  font-size: 14px;
}
.rew {
  border: 1px solid rgb(57, 201, 25);
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.895);
  transform: scale(0.9);
  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.895) inset;
  }
}
.atr-list:nth-last-child(1) {
  transform: scale(0.5);
}
.sochial {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-size: 20px;
}
.sochial > a {
  color: rgb(64, 188, 74);
  text-decoration: none;
}
.sochial > a:hover {
  color: rgba(57, 201, 25, 0.547);
}

.baner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.content-baner {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: rgb(249, 249, 249);
}
.inside {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: 0;
  top: 15%;
}
.inside > img {
  width: 100%;
  height: 100%;
}
.logod {
  width: 100%;
  height: 8%;
  position: relative;
  z-index: 10;
  padding: 0 10px;
}
.textw {
  width: 100%;
  color: white;
  padding: 0 30px;
  position: relative;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  top: 0;
  background: linear-gradient(
    to bottom,
    rgb(249, 249, 2490) 50px,
    transparent 40%
  );
}
.te {
  width: 140px;
  font-size: 16px;
}
.te > span {
  padding: 2px 3px;
}
.te > span:nth-child(1) {
  background: rgb(51, 176, 74);
}

.te > span:nth-child(2) {
  background: rgb(32, 158, 181);
}

.ps {
  width: 100%;
  color: black;
  font-weight: 500;
  font-size: 20px;
}
.roller {
  width: 100%;
  height: 16%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgb(51, 176, 74);
}

.anime {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
  animation: anim 32s infinite;
}
.anime:nth-child(1) {
  animation-delay: 0s;
}
.anime:nth-child(2) {
  animation-delay: 4s;
}
.anime:nth-child(3) {
  animation-delay: 8s;
}
.anime:nth-child(4) {
  animation-delay: 12s;
}
.anime:nth-child(5) {
  animation-delay: 16s;
}
.anime:nth-child(6) {
  animation-delay: 20s;
}
.anime:nth-child(7) {
  animation-delay: 24s;
}
.anime:nth-child(8) {
  animation-delay: 28s;
}
@keyframes anim {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  40% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.spa {
  width: 60%;
  border-radius: 40px;
  height: 70%;
  padding: 5px;
  display: flex;
  align-items: center;
  color: #222;
  justify-content: space-evenly;
  position: relative;
  box-shadow: 0 0 10px black inset;
  background: rgb(249, 249, 249);
}
.rol {
  width: 25%;
  height: 83%;
  left: 5px;
  border-radius: 50%;
  background: white;
  position: absolute;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  box-shadow: 0 0 5px black inset;
}
.endpoint {
  width: 25%;
  height: 83%;
  position: absolute;
  right: 5px;
}
.res{
  font-size: 10px;
  color: #222222a6;
  user-select: none;
  
}
.hidden {
  display: none;
}
@media (max-width: 375px) {
  .mobil {
    width: 100%;
    height: 100dvh;
  }
  .notch {
    display: none;
  }
  .swipe {
    display: none;
  }
  .container {
    padding-top: 20px;
  }
  .content-baner {
    padding-top: 20px;
  }
  .mobil {
    border: 0;
    border-radius: 0;
  }
  .screen {
    border-radius: 0;
  }
}

@media (max-width: 400px) {
  .mobil {
    width: 100%;
    height: 100dvh;
  }
  .screen {
    border-radius: 0;
  }
  .notch {
    display: none;
  }
  .swipe {
    display: none;
  }
  .content-baner {
    padding-top: 20px;
  }
  .container {
    padding-top: 20px;
  }
  .mobil {
    border: 0;
    border-radius: 0;
  }
}
